// basic colors
$white: white;
$black: black;
$lightGray: lightgray;

// main colors
$caption-color: #c9d1d9;
$caption-color-second: #8b949e;
$border-color: #30363d;
$bg-color: #0d1117;
$button-bg-color: #21262d;
$main-bg-color: #010409;
$nav-bg-color: #161b22;
$link-color: #58a6ff;

// tasks colors
$task-text-color: #004085;
$task-bg-color: #cce5ff;
$task-border-color: #b8daff;

// delete colors
$delete-text-color: #721c24;
$delete-bg-color: #f8d7da;
$delete-border-color: #f5c6cb;

// edit colors
$edit-text-color: #155724;
$edit-bg-color: #d4edda;
$edit-border-color: #c3e6cb;
